@using System.Diagnostics;
@model Path_Lab_ENTITY.eLogin;
@{
    ViewBag.Title = "Regiter User";
    Layout = "~/Views/Shared/UserLayoutOthers.cshtml";
}
<section>
    <div class="marquee">
        <marquee>
            <ul class="marquee__inner">
                <li class="marquee__part">
                    Book Doctor Appointment •
                </li>
                <li class="marquee__part">
                    Your Lab •
                </li>
                <li class="marquee__part">
                    Always With You •
                </li>
                <li class="marquee__part">
                    For Your Better Health •
                </li>
            </ul>
        </marquee>
    </div>
</section>


