@using System.Diagnostics;
@model Path_Lab_ENTITY.eLogin;
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/UserLayoutOthers.cshtml";
}
<style>

    .marquee {
        position: relative;
        background-color: #f5cb5c;
        padding-block: 0px;
        overflow: hidden;
        padding: 0px;
    }

        .marquee:not(:last-child) {
            margin-bottom: 16px;
        }

    .marquee__inner {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .marquee__part {
        flex-shrink: 0;
        padding-inline: 2px;
        animation-name: marquee;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .border-custom {
        border-left: 1px solid #008374; /* Customize the color as needed */
        border-right: 1px solid #008374; /* Customize the color as needed */
        border-top: 1px solid #008374; /* Customize the color as needed */
        border-bottom: 1px solid #008374; /* Customize the color as needed */
    }
   .fade-out {
        transition: opacity 1s ease-out, height 0.3s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section>
    <div class="marquee" style="font-weight:bold;padding:0px;">
        <marquee>
            <ul class="marquee__inner">
                <li class="marquee__part">
                    Book Doctor Appointment •
                </li>
                <li class="marquee__part">
                    Your Lab •
                </li>
                <li class="marquee__part">
                    Always With You •
                </li>
                <li class="marquee__part">
                    For Your Better Health •
                </li>
            </ul>
        </marquee>
    </div>
</section>


<section>

    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 p-5">
                <div class="border-custom">
                    <br>
                    <div class="section-header">
                        <h2>Forgot Password</h2>
                    </div>

                    @if (ViewBag.Message != null)
                    {
                        <div class="container-fluid">
                            <div id="alertMessage" class="alert alert-info alert-dismissible fade show" role="alert">
                                <center>@ViewBag.Message</center>
                            </div>
                        </div>
                    }

                    <div class="row p-2 text-center">
                        <label class="col-sm-4 control-label" style="font-weight:bold;">Your Email :</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Enter Email/UserName...", @type = "email", @required = "required" })
                        </div>
                    </div>
                    <br />
                    <center>
                        <button type="submit" class="btn btn-outline-success" value="Save" name="Command">Submit</button>
                    </center>
                    <br>
                    <br>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <a href="~/UserAdd/UserRegistration" class="px-4 mt-4">Create Account</a>
                        </div>
                        <div class="col-sm-4"><a href="~/PathLab/Index" class="px-4 mt-4">Go Back To Home</a></div>
                        <div class="col-sm-4"><a href="~/Home/Login" class="px-4 mt-4">Return To Login</a></div>
                    </div>
                    <br>

                </div>

            </div>
            <div class="col-sm-1"></div>
        </div>


    }


</section>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#alertMessage').addClass('fade-out');
            setTimeout(function () {
                $('#alertMessage').alert('close');
            }, 1000); // Time to wait for the fade-out transition to complete
        }, 10000); // Time to wait before starting fade-out
    });
</script>